.sticky-add-btn {
    background-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 30px;
    z-index: 999;
}

.login-div {
    height: 100vh;
    align-items: center;
}

.login-btn {
    width: 300px;
    font-size: 24px;
    border-radius: 50px;
}

.logout-btn {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999999;
}
